@inherits TypeValueComponentBase<object?>

@if (Value is null)
{
    @if (Type is null)
    {
        <span class="box-value">null</span>
    }
    else
    {
        <span class="box-value clickable"
              @onclick="() => Value = Enum.GetValues(Type).GetValue(0)"
              @onmouseenter="@(args => ReuTooltip.ShowGlobal(args, "Set to default value"))"
              @onmousemove="ReuTooltip.MoveGlobal"
              @onmouseout="ReuTooltip.HideGlobal">null</span>
    }
}
else
{
    <select disabled="@IsReadOnly" @onchange="OnChange">
        @if (Type is not null)
        {
            @foreach (var enumValue in Enum.GetValues(Type))
            {
                <option value="@(Convert.ToInt32(enumValue))" selected="@enumValue.Equals(Value)">@enumValue</option>
            }
        }
    </select>
}

@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}

@code {
    public Type? Type => Property?.PropertyType ?? Item?.Value?.GetType();

    private async Task OnChange(ChangeEventArgs e)
    {
        if (Value is null) return;

        var enumType = Value.GetType();
        var originalValue = Value;

        try
        {
            Value = Enum.ToObject(enumType, Convert.ToInt32(e.Value));
            Exception = null;
        }
        catch (Exception ex)
        {
            Exception = ex;
        }
    }
}
