<select disabled="@IsReadOnly" @onchange="OnChange">
    @if (Type is not null)
    {
        @foreach (var enumValue in Enum.GetValues(Type))
        {
            <option value="@((int)enumValue)" selected="@enumValue.Equals(Value)">@enumValue</option>
        }
    }
</select>

@if (Exception is not null)
{
    <div style="color: red;">@Exception.Message</div>
}

@code {
    [Parameter]
    public ReuObjectTreeMember? Member { get; set; }

    [Parameter]
    public ReuObjectTreeItem? Item { get; set; }

    [Parameter]
    public EventCallback ValueChanged { get; set; }

    public PropertyInfo? Property => Member?.Property;
    public object? Parent => Member?.Parent ?? Item?.Parent;

    public Type? Type => Property?.PropertyType ?? Item?.Value?.GetType();

    public object? Value
    {
        get
        {
            if (Property is not null) return Property.GetValue(Parent);
            if (Item is not null) return Item.Value;
            return null;
        }
        set
        {
            if (Property is null) return;

            try
            {
                Property.SetValue(Parent, value);
                Exception = null;
            }
            catch (TargetInvocationException ex)
            {
                Exception = ex.InnerException ?? ex;
            }
        }
    }

    public Exception? Exception { get; private set; }

    private bool IsReadOnly => Property?.SetMethod is null;

    private async Task OnChange(ChangeEventArgs e)
    {
        if (Value is null) return;

        var enumType = Value.GetType();
        var originalValue = Value;

        try
        {
            Value = Enum.ToObject(enumType, Convert.ToInt32(e.Value));
            Exception = null;
        }
        catch (Exception ex)
        {
            Exception = ex;
        }
    }
}
