@inherits TypeValueComponentBase<string>

@if (Value is null)
{
    <span class="box-value clickable"
          @onclick="() => Value = string.Empty"
          @onmouseenter="@(args => ReuTooltip.ShowGlobal(args, "Set to empty string"))"
          @onmousemove="ReuTooltip.MoveGlobal"
          @onmouseout="ReuTooltip.HideGlobal">null</span>
}
else
{
    <input @bind="Value" readonly="@IsReadOnly" @oninput="OnInput" style="width:@((tempValue?.Length ?? Value.Length ?? 0) + 1)ch" />
    @if (!IsKey)
    {
        <span class="box-value"><code
            @onmouseenter="@(args => ReuTooltip.ShowGlobal(args, "Length of the string"))"
            @onmousemove="ReuTooltip.MoveGlobal"
            @onmouseout="ReuTooltip.HideGlobal">@Value.Length</code></span>
    }
}
@if (Exception is not null)
{
    <div style="color: var(--color-red);">@Exception.Message</div>
}

@code {
    private string? tempValue;

    private async Task OnInput(ChangeEventArgs e)
    {
        tempValue = e.Value?.ToString();
    }
}